<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% if user.is_authenticated %}
    <h1>Hola {{user.get_full_name}}</h1>
    <h2>Autenticacion:{{user.is_authenticated}}</h2>
    <h1>Mail {{user.email}}</h1>
    <h1>El Login fue correcto</h1>
    <a href="{% url 'logout' %}">Cerrar sesion</a>
    <p><a href="{% url 'inicio' %}">Volver al inicio</a></p>
    {% else %}
    <h2>Autenticacion:{{user.is_authenticated}}</h2>
    <a href="{% url 'inicio' %}">Volver al inicio</a>
    {% endif %}
        
    
    
</body>
</html>